@import url('https://fonts.googleapis.com/css?family=Open+Sans');
html {
  margin: 0;
  height: 100%;
  overflow: hidde
}
body {
  font-family: Open Sans; 
  background-color: #FFF;
  padding: 0px;
  margin: 0px;
  font-size: 13px;
  color: #000;
  line-height: 20px; /* 4px +12px + 4px */
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  
}

.book {
  padding-right: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 10px solid #123;
  border-left: 0px;
  padding: 15px 0px;
  position:absolute;
  height: auto;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.page {
  padding: 0px;
  margin: 0px;
  height:100%;
  overflow: scroll;
  position: relative;
}
.days {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.0"  width="10" height="10" viewBox="0 0 10 10">	<circle style="fill: #aaa" cx="9.5" cy="8.5" r=".35"/></svg>');
  background-size: 20px 20px;
  padding: 0px;
  margin: 0px;
  margin-left: 15px;
  height: 100%;
}

.bookmark {
  background-color: #246;
  background-image: repeating-linear-gradient(rgba(255, 255 ,200), yellow 10px, green 100%);
  background-repeat: no-repeat;
  background-position: top;
  width: 15px;
  position:absolute;
  height:auto;
  bottom:0;
  top:0;
  left:0;
  right:0;
  z-index: 10;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.day {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.0"  width="10" height="10" viewBox="0 0 10 10">	<circle style="fill: #aaa" cx="9.5" cy="8.5" r=".35"/></svg>');
  background-size: 20px 20px;
  padding-bottom: 20px;
}

.day:hover {
  box-shadow: inset 0 0 1px #f00;
}

.title {
  background-image: url('heavy_dot.svg');
  background-repeat: repeat-x;
  background-position: left bottom;
  background-size: 20px 20px;
  margin-left: 0px !important; 
}

.line {
  padding: 0px 0px;
  margin: 0px 20px;
  margin-right: 0px;
  height: auto;
  min-height: 20px;
  line-height: 20px; /* 4px +12px + 4px */
  vertical-align:top; 
}

.heavy {
  margin: 0px 5px;
  padding: 0px 0px;
  font-weight: bold;
  height: auto;
  min-height: 20px;
  line-height: 20px; /* 4px +12px + 4px */
  vertical-align:middle; 
  font-size: 14px;
  float: left;
}

.bullet {
  background-color: none;
  padding: 0;
  border: 0;
  flex: 1;
  float: left;
  position: relative;
  left: -20;
  top: 0;
}
.text {
  background-color: none;
  padding: 0;
  padding-left: -20px;
  border: 0;
  width: auto;
  position: relative:
  top: 0;
  left: 0;
}
.text:hover {
  background-color: rgba(0, 0, 0, 0.15);
}
.text:focus {
  background-color: rgba(0, 0, 0, 0.05);
}


.dot {
  stroke: #000; 
  stroke-width:0.4;
  fill: #fff;
}
.dot:hover {
  fill: rgba(0, 0, 0, 0.15);; 
}

.check {
  stroke: rgb(45, 65, 205); 
  stroke-width:2.0;
  fill: none;
  visibility: hidden;
}

.change, .plus, .ex  {
  stroke:  rgba(0, 0, 0, 0.8);; 
  stroke-width: 1.0;
  fill: none;
  visibility: hidden;
}

.dot:hover   + .change, .check:hover + .change, .bullet:hover .change,
.dot:hover   + .plus,   .check:hover + .plus,   .bullet:hover .plus,
.dot:hover   + .ex,     .check:hover + .ex,     .bullet:hover .ex {visibility: visible; fill: #fff;}