@import url('https://fonts.googleapis.com/css?family=Open+Sans');
html {
  margin: 0;
  height: 100%;
  overflow: hidden
}
body {
  font-family: Open Sans; 
  background-color: #FFF;
  padding: 0px;
  margin: 0px;
  color: #000;
  line-height: 1.5em; /* 4px +12px + 4px */
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 100%;
  
}

.book {
  border-top-right-radius: 1.5em;
  border-bottom-right-radius: 1.5em;
  border: 0.75em solid #123;
  border-left: 0px;
  padding: 1.2em 0px;
  position:absolute;
  height: auto;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0.2em 0.4em 0 rgba(0, 0, 0, 0.2), 0 0.5em 1.5em 0 rgba(0, 0, 0, 0.19);
}

.header {
  padding: 0;
  margin: 0;
  height: 1.2em;
  position: absolute;
  top: -0.2em;
  left: 1.2em;
  width: 100%;
  vertical-align: middle;
}


.footer {
  padding: 0;
  margin: 0;
  height: 1.2em;
  position: absolute;
  bottom: 0.3em;
  left: 1.5em;
}

.colorbar {
  height: 1.2em;
  float: left;
}

.color {
  stroke-width: 1;
  stroke: #000;
  cursor: pointer;
}
.red {
  fill: #c00;
}
.green {
  fill: #090;
}
.blue {
  fill: #33f;
}
.black {
  fill: #333;
}

.linings {
  height: 1em;
  line-height: 1em;
  position: relative;
  float: left;
  top: 0.25em;
}

.lining {
  font-size: 0.75em;
  float: left;
  cursor: pointer;
  padding: 0 1em;
  padding-top: 0.125em;
  background-size: 0.5em 0.5em;
  background-repeat: repeat;
}

.lining:hover {
 background-color: #eee;
}

.dotted {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.0"  width="10" height="10" viewBox="0 0 10 10">	<circle style="fill: %23ccc" cx="5" cy="5" r="2.0"/></svg>');

}

.gridded {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.0"  width="10" height="10" viewBox="0 0 10 10">     <path d="M 0 5 l 10 0 M 5 0 l 0 10" style="stroke: %23ccc; stroke-width: 2.0;" /></svg>');
}

.lined {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.0"  width="10" height="10" viewBox="0 0 10 10">	<path d="M 0 5 l 10 0" style="stroke: %23ccc; stroke-width: 2.0;" /></svg>');
}

.page {
  padding: 0;
  margin: 0;
  height:100%;
  overflow: scroll;
  position: relative;
}
.days {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.0"  width="10" height="10" viewBox="0 0 10 10">	<circle style="fill: %23aaa" cx="9.5" cy="8.5" r=".35"/></svg>');
  background-size: 1.5em 1.5em;
  padding: 0;
  margin: 0;
  margin-left: 1.2em;
  min-height: 100%;
}

.bookmark {
  background-color: #246;
  background-image: repeating-linear-gradient(rgba(255, 255 ,200), yellow 10px, green 100%);
  background-repeat: no-repeat;
  background-position: top;
  width: 1.2em;
  position:absolute;
  height:auto;
  bottom:0;
  top:0;
  left:0;
  right:0;
  z-index: 10;
  box-shadow: 0 0.2em 0.4em 0 rgba(0, 0, 0, 0.2), 0 0.5em 1.5em 0 rgba(0, 0, 0, 0.19);
}

.dots {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.0"  width="10" height="10" viewBox="0 0 10 10">	<circle style="fill: %23aaa" cx="9.5" cy="8.5" r=".35"/></svg>');
  background-size: 1.5em 1.5em;
}

.lines {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.0"  width="10" height="10" viewBox="0 0 10 10"><path d="M 0 8.5 l 10.0 0" style="stroke: %23aaa; stroke-width: 0.15;" /></svg>');
  background-size: 1.5em 1.5em;
}

.grids {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.0"  width="10" height="10" viewBox="0 0 10 10"><path d="M 0 8.5 l 10.0 0 M 9.5 0 l 0 10.0 " style="stroke: %23aaa; stroke-width: 0.15;" /></svg>');
  background-size: 1.5em 1.5em;
}

.empty {
  background-image: none;
}


.day:hover {
  box-shadow: inset 0 0 1px #f00;
}

.title {
  background-image: url('heavy_dot.svg');
  background-repeat: repeat-x;
  background-position: left bottom;
  background-size: 1.5em 1.5em;
  margin-left: 0px !important; 
}

.line {
  padding: 0 0;
  margin: 0 1.5em;
  margin-right: 0;
  height: auto;
  min-height: 1.5em;
  line-height: 1.5em; /* 4px +12px + 4px */
  vertical-align:top; 
}

.adder {
  position: relative;
  cursor: pointer;
  left: -1.5em;
  width: 100%;
  visibility: hidden;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.0"  width="35" height="20" viewBox="0 0 35 20">  <path d="M30 5 l 0 10 M25 10 l 10 0" stroke-width="1" stroke="%23333"/></svg>');
  background-size: 2.7em 1.5em;
  background-repeat: no-repeat;
}
.adder:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.15);
}

.day:hover .adder {
  visibility: visible;
}

.heavy {
  margin: 0 0.3em;
  padding: 0 0;
  font-weight: bold;
  height: auto;
  min-height: 1.5em;
  line-height: 1.5em; /* 4px +12px + 4px */
  vertical-align:middle; 
  float: left;
}

.bullet {
  background-color: none;
  padding: 0;
  border: 0;
  float: left;
  position: relative;
  left: -1.5em;
  top: 0;
  height: 1.5em;
  cursor: pointer;
}
.text {
  background-color: none;
  padding: 0;
  padding-right: 0.3em;
  border: 0;
  width: auto;
  position: relative;
  top: 0;
  left: 0;
}
.text:hover {
  background-color: rgba(0, 0, 0, 0.15);
}
.text:focus {
  background-color: rgba(0, 0, 0, 0.05);
}


.dot {
  stroke: #000; 
  stroke-width:0.4;
}

.check {
  stroke: rgb(45, 65, 205); 
  stroke-width:2.0;
  fill: none;
}

.descriptor {
}

.click_box {
  stroke: rgba(0, 0, 0, 0.01) !important;
  fill:   rgba(0, 0, 0, 0.01) !important;
  visibility: hidden;
}

.change, .plus, .ex  {
  stroke:  rgba(0, 0, 0, 0.8);;
  stroke-width: 1.0;
  fill: none;
  visibility: hidden;
}

.change > .cover {
 visibility: hidden;
}

.line:focus-within > .bullet .option,
.line:hover > .bullet .option,
.dot:hover + .option {visibility: visible !important; rgba(0, 0, 0, 0.01)}

input[type=checkbox]  {display: none;}
label {
  cursor: pointer;
  font-weight: bold;
  padding-left: 1em !important;
  background-size: 1em 1em;
  background-position: top left;
  background-repeat: no-repeat;
  background-image: none;
}
.day:hover input[type=checkbox] + label {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.0"  viewBox="0 0 10 10"><path style="stroke-width: 2; stroke: %23333; fill: transparent;" d="M 2.5 7.5 L 5 5 L 7.5 7.5" /></svg>');
}
.day:hover input[type=checkbox]:checked + label {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.0"  viewBox="0 0 10 10"><path style="stroke-width: 2; stroke: %23333; fill: transparent;" d="M 2.5 5 L 5 7.5 L 7.5 5" /></svg>');
}
input[type=checkbox] ~ div {display: block;}
input[type=checkbox]:checked ~ div {display: none;}
