{% extends "layout.html" %}
{% block book %}
<div class="landing dots">
  <div class="library" id="library">
    <div class="login">
      {% if current_user.is_authenticated %}
        <center>
          <b>{{ current_user.username }}</b> <a href="logout" class="logout">(logout)</a>
        </center>
      {% else %}
      <form id="login_form" action="{{ url_for('landing') }}" method="post" autocomplete="on">
        <label for="uname">username</label>
        <input type="text" placeholder="username" name="uname" required>

        <br><label for="psw">password</label>
        <input type="password" placeholder="password" name="psw" required>

        <br><center>
          <button type="submit" id="login">login</button>
          <label><input type="checkbox" checked="checked" name="remember">remember</label>
          {% if invalid %}
          <div style="color: #f90;"><i>invalid password</i></div>
          {% endif %}
        </center>
      </form>
      {% endif %}
    </div>
  </div>
</div>

<script src="{{ url_for('static',filename='login.js') }}"></script>


{% endblock %}
