<html>
<head>
        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>@dotter.app</title>
        {% endif %}
	<link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static',filename='book.svg') }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static',filename='apple-touch-icon.png') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static',filename='favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static',filename='favicon-16x16.png') }}">
  <link rel="manifest" href="{{ url_for('static',filename='site.webmanifest') }}">
  <link rel="mask-icon" href="/{{ url_for('static',filename='safari-pinned-tab.svg') }}" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>

{% block book %}
 
{% endblock %}

</body>
</html>

  